/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

/* || CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* || Variables */

:root {
  /* Primary colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral colors */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-gray-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* || Base styling */

html {
  font-size: 15px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background: var(--off-white);
}

.img {
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 15px 30px;
  border: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--off-white);
  border-radius: 0;
  cursor: pointer;
}

.btn--orange {
  background-color: var(--soft-red);
}

/* || Container */

.container {
  padding: 30px 15px;
  margin: 0 auto;
}

/* || Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* || Main content */

.main {
  margin-top: 2rem;
}

.article__title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  margin-top: 1rem;
}

.article__text {
  color: var(--dark-gray-blue);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* New articles */

.new-articles {
  margin-top: 4rem;
  background: var(--very-dark-blue);
  padding: 20px;
}

.new-articles__article {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--dark-gray-blue);
}

.new-articles__article:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.new-articles__heading {
  font-size: 2rem;
  color: var(--soft-orange);
  font-weight: 700;
}

.new-articles__title {
  color: var(--off-white);
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.new-articles__text {
  color: var(--grayish-blue)
}

/* Other articles */

.other-articles {
  margin-top: 4rem;
}

.other-articles__article {
  display: flex;
  margin-bottom: 1rem;

}

.other-articles__img {
  width: 125px;
  margin-right: 1rem;
}

.other-articles__info {
  flex: 1 1 50%;
}

.other-articles__number {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--grayish-blue);
}

.other-articles__title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;

}

.other-articles__text {
  color: var(--dark-gray-blue);
}

/* || Footer */

.footer {
  padding-top: 1rem;
  border-top: 1px solid var(--grayish-blue);
}

.footer__attribution {
  text-align: center;
}